/*
 * Copyright (c) 2023 Ramon Imbao
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/studio.h>

behaviors {
    ht: hold_tap {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = <280>;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC                   &mt F1 N1         &mt F2 N2         &mt F3 N3          &mt F4 NUMBER_4  &mt F5 N5  &mt N6 N6  &mt F7 N7  &mt F8 N8  &mt F9 N9  &mt F10 N0  &mt F11 MINUS  &mt F12 EQUAL  &mt BSPC DEL
&mt C_AL_MY_COMPUTER TAB  &kp Q             &mt UP_ARROW W    &kp E              &kp R            &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P       &kp LBKT       &kp RBKT                           &kp BSLH
&lt 1 CAPSLOCK            &mt LEFT_ARROW A  &mt DOWN_ARROW S  &mt RIGHT_ARROW D  &kp F            &kp G      &kp H      &kp J      &kp K      &kp L      &kp SEMI    &kp APOS                      &kp ENTER
&mt LSHFT CAPSLOCK                          &kp Z             &kp X              &kp C            &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT     &kp SLASH                     &mt RSHFT CAPSLOCK
&kp LCTRL                 &lt 1 LEFT_GUI    &kp LALT                                                                               &kp SPACE             &kp RALT    &kp RALT                      &lt 1 RIGHT_GUI     &kp RCTRL
            >;
        };

        fn_layer {
            bindings = <
&kp GRAVE  &kp F1          &kp F2          &kp F3           &kp F4     &kp F5  &kp F6  &kp F7    &kp F8           &kp F9     &kp F10    &kp F11          &kp F12       &kp DELETE
&trans     &kp INS         &sk UP_ARROW    &trans           &kp PG_UP  &trans  &trans  &kp SLCK  &kp PAUSE_BREAK  &trans     &trans     &kp C_VOLUME_UP  &kp C_VOL_DN                    &kp PRINTSCREEN
&trans     &sk LEFT_ARROW  &sk DOWN_ARROW  &sk RIGHT_ARROW  &kp PG_DN  &trans  &trans  &trans    &kp HOME         &kp PG_UP  &trans     &kp C_MUTE                     &kp K_PLAY_PAUSE
&trans                     &trans          &trans           &trans     &trans  &trans  &trans    &trans           &kp END    &kp PG_DN  &trans                         &mo 2
&trans     &trans          &trans                                                                &trans                      &trans     &trans                         &trans            &trans
            >;
        };

        layer_2 {
            bindings = <
&sys_reset      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans
&trans          &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans          &studio_unlock
&mo 3                         &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans          &trans
&studio_unlock  &trans        &trans                                                                  &trans          &trans  &trans          &trans          &trans
            >;
        };

        layer_3 {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &studio_unlock
&trans               &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans
&trans       &trans  &trans                                          &trans          &trans  &trans          &trans          &trans
            >;
        };
    };
};
